.byebug_history
*.env
.git
.gitignore
.dockerignore
.gitlab-ci.yml
.travis.yml
Brewfile
Procfile*
docker-compose.*
Dockerfile
coverage/*
log/*
tmp/*
storage/*
node_modules/*
public/assets/*
public/packs/*
public/packs-test/*
public/uploads/*
