SECRET_KEY_BASE=xxx

IMGPROXY_KEY=xxx
IMGPROXY_SALT=xxx
IMGPROXY_BIND=:3001

IMGPROXY_JPEG_PROGRESSIVE=true
IMGPROXY_PNG_INTERLACED=true
IMGPROXY_ENABLE_WEBP_DETECTION=true
IMGPROXY_ENFORCE_WEBP=true

IMGPROXY_TTL=315360000
IMGPROXY_QUALITY=85
