%li>
  %a.l-be{:href => "https://www.behance.net/brendari-agency", :rel => "noopener", :target => "_blank"} behance
%li>
  %a.l-dr{:href => "https://dribbble.com/brendari", :rel => "noopener"} dribbble
%li>
  %a.l-in{:href => "https://www.instagram.com/brendari.agency/", :rel => "noopener"} instagram
%li>
  %a.l-f{:href => "https://www.facebook.com/brendari.agency", :rel => "noopener"} facebook
