%li>
  %a.l-be{href: SiteConfig.get(:behance), rel: "noopener", target: "_blank"} behance
%li>
  %a.l-dr{href: SiteConfig.get(:dribbble), rel: "noopener"} dribbble
%li>
  %a.l-in{href: SiteConfig.get(:instagram), rel: "noopener"} instagram
%li>
  %a.l-f{href: SiteConfig.get(:fb), rel: "noopener"} facebook
