
= render "partials/nav"

.home-page
  %object.big-logo{type: "image/svg+xml", data: asset_path("svg/logo-black.svg")}) Brendari
  %p= raw(t("home.slogan"))

.msnry-wrap
  .msnry.js-msnry
    = render "projects/items"

= render "partials/footer"
