- @projects.each do |project|
  = link_to project_path(project), class: "msnry-item msnry-item-#{project.size}" do
    .msnry-aspect-inner
      .msnry-item-bg.lazyload{'data-src': project.main_image_url}
      %noscript
        %img.msnry-logo{src: project.main_image_url}
      .msnry-item-title= project.title
      .msnry-item-dscr= project.subtitle
