- content_for :title, t("seo.projects.title")
- content_for :description, t("seo.projects.description")

= render "partials/nav"

%main.msnry-wrap.msnry-projects
  .msnry.js-msnry
    = render "projects/items"

= render "partials/footer"
