@import "medium-editor/dist/css/medium-editor";
@import "medium-editor/dist/css/themes/tim";
@import "medium-editor-insert-plugin";

@import "./../../rich_text.scss";

.tab-content {
  width: 100%;
}


.medium-editor-wrap {
  margin-left: -60px;
  position: relative;
}
.medium-editor-insert-plugin {
  padding-left: 60px;
}

body.rails_admin .form-horizontal.denser .rich-text p {
  font-size: 20px;
  line-height: 1.5;
}
body.rails_admin .form-horizontal textarea.rich-text {
  width: 100%;
  min-height: 200px;
}

.rich-text {
  p,
  blockquote,
  ul, ol,
  h1, h2, h3, h4, h5, h6 {
    background: #eee;
  }

  img {
    background: gray;
    min-height: 50px;
  }
}
