- @logos.each do |logo|
  .msnry-item{class: "msnry-item-#{logo.size}"}
    .msnry-aspect-inner
      .msnry-logo-title= logo.title
      - if logo.animation.present?
        .msnry-gif-icon.js-play{'data-video': logo.animation_url} GIF

      -# .msnry-open-icon

      %img.msnry-logo.lazyload{'data-src': resized_grid_image(logo.size, logo.image_gray_url), alt: logo.title, src: image_path('0.png')}

      - if logo.image_colorfull.present?
        -# background image has lower load priority
        .msnry-logo-color.lazyload{'data-src': resized_grid_image(logo.size, logo.image_colorfull_url)}

      - unless request.xhr?
        %noscript
          %img.msnry-logo{src: logo.image_gray_url, alt: logo.title}
