- content_for :title, t("seo.logos.title")
- content_for :description, t("seo.logos.description")

= render "partials/nav"

.msnry-wrap.msnry-logos
  .msnry.js-msnry
    = render "items"

= render "partials/footer"
