= render "partials/nav"

.msnry-wrap.msnry-logos
  .msnry.js-msnry
    - @logos.each do |logo|
      .msnry-item{class: "msnry-item-#{logo.size}"}
        .msnry-aspect-inner
          - if logo.animation.present?
            .msnry-gif-icon.js-play{'data-video': logo.animation_url} GIF

          -# .msnry-open-icon
          %img.msnry-logo.lazyload{'data-src': logo.image_gray_url, alt: logo.title, src: image_path('0.png')}
          - if logo.image_colorfull.present?
            .msnry-logo-color.lazyload{'data-src': logo.image_colorfull_url, src: image_path('0.png')}
          %noscript
            %img.msnry-logo{src: logo.image_gray_url}

= render "partials/footer"
