body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Roboto, Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

$tablet: "(max-width: 1023px)";
$mobile: "(max-width: 600px)";
//    @media #{$tablet} {
//        font-size: 18px;
//    }

//    @media #{$mobile} {
//        font-size: 20px;
//    }

.accent {
  color: #FF0000;
}

.hdn {
  width: 0;
  height: 0;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.bg-cover {
  background: center center no-repeat;
  background-size: cover;
}

@keyframes pageIn {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
  }
}

.pageIn {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-name: pageIn;
}

@keyframes pageOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.pageOut {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-name: pageOut;
}

img {
  width: 100%;
  height: auto;
}
