.msnry-wrap {
  padding: 5px;
}
.msnry-projects {
  padding-top: 15%;
}

.msnry-logos {
  .msnry-aspect-inner {
    border: 1px solid #e1e1e1;
    transition: border-color 0.3s;
    &:hover {
      border-color: #bfbfbf;
      .msnry-logo-color {
        opacity: 1;
      }
    }
  }
}

.msnry {
  position: relative;

  // will be shown if js is disabled
  // or if enabled after add class .js-activated
  opacity: 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// show inline blocks if js disabled
.msnry-item {
  width: 25%;
  float: left;
  position: relative;
  &::before {
    content: "";
    display: block;
    padding-bottom: 66.666666%;
  }
}

.msnry-aspect-inner {
  position: absolute;
  box-sizing: content-box;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  overflow: hidden;
}

.msnry-item-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: center center no-repeat;
  background-size: cover;

  transition: filter 0.3s;
  transform: scale(1.05);
  will-change: filter;
}
.msnry-item-title {
  font-size: 90px;
  color: #ffffff;
  line-height: 90px;
  margin-left: 10px;
  font-weight: bold;

  transition: transform 0.3s;
  will-change: transform;
  transform: translate3d(-125%, 0, 0);
}
.msnry-item-dscr {
  font-size: 30px;
  color: #ffffff;
  line-height: 1.1;
  position: absolute;
  left: 10px;
  bottom: 20px;
  font-weight: bold;

  transition: transform 0.3s;
  will-change: transform;
  transform: translate3d(-125%, 0, 0);
}
.msnry-logo-title {
  color: #c3c3c3;
  position: absolute;
  top: 5px;
  left: 10px;
}
.msnry-aspect-inner:hover {
  .msnry-item-bg {
    filter: blur(5px);
  }
  .msnry-item-title,
  .msnry-item-dscr {
    transform: translate3d(0, 0, 0);
  }
}

.msnry {
  &.muuri {
    opacity: 1;
  }
  &.js-activated {
    .msnry-item {
      position: absolute;
      float: none;
    }

    .msnry-item-1x1 {
      width: 24.95%;
    }

    .msnry-item-2x2 {
      width: 49.95%;
    }

    .msnry-item-2x1 {
      width: 49.95%;
      &::before {
        padding-bottom: 33.333333%;
      }
    }

    .msnry-item-1x2 {
      width: 24.95%;
      &::before {
        padding-bottom: 133.333333%;
      }
    }
  }
}

@media #{$tablet} {
  .msnry-item {
    width: 49.95%;
  }

  .msnry-item-1x1,
  .msnry-item-2x2,
  .msnry-item-2x1,
  .msnry-item-1x2 {
    width: 49.95%;
  }

  .msnry {
    &.js-activated {
      .msnry-item-1x1,
      .msnry-item-2x2,
      .msnry-item-2x1,
      .msnry-item-1x2 {
        width: 49.95%;
      }
    }
  }

}

@media #{$mobile} {
  .msnry-wrap {
    padding: 0;
  }
  .msnry-aspect-inner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .msnry-item,
  .msnry-item-2x2,
  .msnry-item-2x1,
  .msnry-item-1x2 {
    width: 100%;
  }

  .msnry {
    &.js-activated {
      .msnry-item-1x1,
      .msnry-item-2x2,
      .msnry-item-2x1,
      .msnry-item-1x2 {
        width: 100%;
      }
    }
  }

  .msnry-logos {
    .msnry-aspect-inner {
      border-left: none;
      border-bottom: none;
      border-right: none;
    }
  }
}

.msnry-gif-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #bfbfbf;
  z-index: 5;
  padding: 0 15px;
  cursor: pointer;
}

.msnry-open-icon {
  position: absolute;
  right: 14px;
  bottom: 9px;

  width: 31px;
  height: 26px;
  background: image-url('svg/open-logo.svg') center center no-repeat;
  z-index: 5;
}

.msnry-logo, .msnry-logo-color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.msnry-logo-color {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  transition: all 0.7s;
  background-image: image-url('0.png')
}

.msnry-logo-video {
  width: 100.1%;
  position: absolute;
  top: 0;
}
