// <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">

.rich-text {
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  padding: 0 10px;

  p {
    hyphens:auto;
  }

  p,
  blockquote,
  ul, ol,
  h1, h2, h3, h4, h5, h6 {
    margin: 1em auto;
    max-width: 740px;

    font-size: inherit;
    line-height: inherit;
  }

  h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1.5em auto 0.5em;
    line-height: 1.2;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }

  blockquote {
    font-style: italic;
    padding: 0 1.5em;
    border-left: 3px solid #F00;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.4;
  }

  figure {
    margin: 0;
  }

  .medium-insert-images, .medium-insert-embeds {
    margin: 1em -0.5em;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    & > * {
      padding: 0 0.5em;
      margin-top: 0em;
      flex: 1 0 0;
      &:first-child {
        margin-top: 0;
      }
    }

    figure {
      img {
        margin: 0;
        max-width: 100%;
        display: block;
      }
    }

    section {
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  // really it's to make width as text
  .medium-insert-embeds-left, .medium-insert-images-grid {
    max-width: calc(740px + 1em);

    @media (min-width: 800px) {
      margin-left: auto;
      margin-right: auto;
    }
  }


  .medium-insert-images-left,
  .medium-insert-images-right {
    margin: 0 0 1em 0;
    max-width: 50%;
    figure {
      padding: 0;
    }
  }
  .medium-insert-images-left {
    margin-right: 0.5em;
    padding-right: 0.5em;
    float: left;
  }
  .medium-insert-images-right {
    margin-left: 0.5em;
    padding-left: 0.5em;
    float: right;
  }

  @media (max-width: 600px) {
    .medium-insert-images, .medium-insert-embeds {
      display: block;

      & > * {
        margin: 1em 0 0 0;
        &:first-child {
          margin-top: 0;
        }
      }
    }

  .medium-insert-images-left,
  .medium-insert-images-right {
      margin: 1em 0;
      padding: 0;
      max-width: 100%;
      float: none;
    }
  }



  figcaption {
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }


  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
